body {
	margin: 0;
	padding: 0;
}

div.container {
	margin-top:20px;
}

@media screen and (max-width: 575px) {
	.indexTags {
		flex-direction: row !important;
	}

	.indexTags li:first-child {
		flex: 1 1 100%;
	}
}
